## Data Structure
- List, Dictionary, Tuple and Set

### List

In [1]:
# create an empty list
myList = []
print(myList)

[]

In [2]:
myList2 = ['F', 'AAPL']
print(myList2)

['F', 'AAPL']

In [3]:
myList2.append('GOOG')
print(myList2)

['F', 'AAPL', 'GOOG']

In [5]:
myList2.insert(1, 'QCOM')
print(myList2)

['F', 'QCOM', 'AAPL', 'GOOG']

In [6]:
x = sorted(myList2)
print(x)

['AAPL', 'F', 'GOOG', 'QCOM']

In [7]:
# test membership
if "GM" in myList2:
    print("Found")
else:
    print("Not Found")

Not Found

In [8]:
if "GM" not in myList2:
    print("True")

True

### Programming Task
- write a program to read in IEX AAPL 1Y data file 
- find dates which AAPL stock price change over 2%
- store these data in a list

### Dictionary
- Key value pairs
- Assignment or updating
- Membership (in, not in)
- Delete items
- Iterating (key, values)
- Constant time lookup
- join two different data sources

In [10]:
# create an empty dictionary
myd = {}
print(myd)

{}

In [11]:
myd['ABC'] = 'Company ABC'
myd['XYZ'] = 'Company XYZ'
myd['ZZZ'] = 'Compnay ZZZ'
print(myd)

{'ABC': 'Company ABC', 'XYZ': 'Company XYZ', 'ZZZ': 'Compnay ZZZ'}

In [14]:
del myd['ZZZ']
print(myd)

{'ABC': 'Company ABC', 'XYZ': 'Company XYZ'}

In [15]:
myd['XYZ'] = 'Updated Company XYZ'
print(myd)

{'ABC': 'Company ABC', 'XYZ': 'Updated Company XYZ'}

In [16]:
if 'XYZ' in myd:
    print("True")

True

In [17]:
print ("ABC" not in myd.keys())

False

In [18]:
print("Company V" in myd.values())

False

In [19]:
# iterate dictonary's key
for x in myd.keys():
    print(x)

ABC
XYZ

In [20]:
for x in myd.values():
    print(x)

Company ABC
Updated Company XYZ

### Download NASDAQ data
http://www.nasdaq.com/screening/company-list.aspx

### Tuples
- Immutable
- Common use - fields in database
- Access by positions (starting with zero)
- Functions (len, max, min, splice)
- Membership (in, not in)

In [21]:
myTup1 = ('ABC', 'Company ABC', 90.25)
myTup2 = ('XYZ', 'Corporation XYZ', 20.84)
myTup3 = ('ZZZ', 'Better Sleep Company', 7.32)
print(myTup1)

('ABC', 'Company ABC', 90.25)

In [22]:
print(myTup2[0])

XYZ

In [23]:
print(myTup3[0:1])

('ZZZ',)

In [24]:
print(myTup3[0:2])

('ZZZ', 'Better Sleep Company')

In [25]:
print(len(myTup2))

3

In [26]:
myNum = (1, 4, 5.7, 9, -2)
print(min(myNum))

-2

In [27]:
print (7 in myNum)

False

In [28]:
# create a list of tuples
myList = []
myList.append(myTup1)
myList.append(myTup2)
myList.append(myTup3)

In [29]:
print(myList)

[('ABC', 'Company ABC', 90.25), ('XYZ', 'Corporation XYZ', 20.84), ('ZZZ', 'Better Sleep Company', 7.32)]

In [30]:
for x in myList:
    print(x)
    print(x[2])

('ABC', 'Company ABC', 90.25)
90.25
('XYZ', 'Corporation XYZ', 20.84)
20.84
('ZZZ', 'Better Sleep Company', 7.32)
7.32

### Program Task
- Read in aapl stock file 
- Build a dictionary using symbol and date as key, and stock closing price as value

### Set
- set()
- add/discard
- update
- union / intersection
- in / not in
- unique membership

In [31]:
s1 = set()
s1.add(1)
s1.update([1, 2, 3])

In [32]:
print(s1)

{1, 2, 3}

In [33]:
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [34]:
s2 = set([4,5,6])

In [35]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [37]:
s1.intersection(s2)

{4}

In [39]:
7 in s1

False

In [40]:
watchList = ['MSFT', 'AAPL', 'QCOM']
openPos = [('AAPL', 100.0, 100), ('F', 8.35, 100), ('DIS', 87.35, 100)] # (sym, buy, sh)
closedPos = [('MSFT', 25.5, 32.65, 100), ('INTC', 35.35, 27.89, 100)] #(sym, buy, sell, sh)

In [41]:
myStocks = set()
for x in watchList:
    myStocks.add(x)
print(myStocks)

{'QCOM', 'MSFT', 'AAPL'}

In [42]:
for x in openPos:
    myStocks.add(x[0])

for x in closedPos:
    myStocks.add(x[0])

In [43]:
# get an unique of stocks sybmols
print(myStocks)

{'QCOM', 'AAPL', 'INTC', 'DIS', 'MSFT', 'F'}